@font-face {
    font-family: 'UnifrakturMaguntia'; /* Gewünschter Name */
    src: url('fonts/UnifrakturMaguntia-Book.ttf')
        format('truetype');
            /* Gosmick: Schrift statt Comic Sans MS */
    font-family: 'Gosmick';
    src: url('fonts/Gosmicksans-regular.ttf')
        format('truetype');
        /* Neue Helvetica verwenden: */
    font-family: 'HelveticaNeu';
    src: url('fonts/HelveticaNeu.ttf')
        format('truetype');
   }

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #e0dfdf;
    margin: 0;
    padding: 0;
}

svg {
    width: 100%;
    height: auto;
}

/*Test:*/
.svgrahmen {
    position: absolute;
    width: 100%;
    height: auto;
    background: yellow;
}

h1 {color: black;
    font-family: Gosmick, Helvetica, sans-serif;
    /*background-color: yellow;*/
    width: 20rem;
}

h2 {color:black;
    font-family: Gosmick, Helvetica, sans-serif;
}

/* Sonderelemente an den Ecken: */
.wappencls {
    position: fixed;
    top: 20pt;
    right: 20pt;
    width: 5%;
    height: auto;
}

.countercls {
    position: fixed;
    bottom: 50pt;
    left: 20pt;
    width: 50rem;
    height: auto;
    font-family: Gosmick, sans-serif;
}

.testcls {
    width: 50rem;
    height: auto;
    font-family: Gosmick, sans-serif;
}

.angebote {
    display: inline-block;
    width: auto;
    height: auto;
    /*border: 1px solid black;*/
    font-family: Helvetica, sans-serif;
    font-size: 1vw;
    /*width: 80%;*/
    /*width: 20%;*/
   /* min-width: 40rem;*/
    min-width: 12rem;
    max-width: 90%;
    background-color: rgba(221,184,135,1.0);
    /*background-image: linear-gradient(white, rgba(221,184,135,1.0), rgba(221,184,135,1.0));*/
    /*background-color: green;*/
    margin: 5pt;
    padding: 5pt;
    position: fixed;
    top: 5%;
    left: 5%;
    border-radius: 20pt 20pt 20pt 20pt;
    border-style: solid;
    /*border-color: #a0522d;*/
    border-color: #613823;
}


.angebottabelle {
    /*background-color: green;*/
    font-size: 1vw;
    width: 90%;
    min-width: 10rem;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    /*color: green;*/
}


.clsimpressum {
  font-family: Helvetica, sans-serif;
  font-size: 1.0vw;
  color: grey;
  text-align: center;
}

a:link, a:visited {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

a:link:active, a:visited:active {
  color: grey;
}

footer {
  margin-top: 1rem;
  text-align: center;
}

.Tag {
  color: grey;
}

/* Responsive Elemente: */

.container {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;

}

/* Smartphones Hochformat: */
@media screen and (max-width: 600px) {

  h6 {
    font-size: 1.5rem;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    color: black;
    font-weight: normal;
  }

  h5 {
    font-size: 2rem;
    margin: 10 10 0 0;

    padding: 0 0 0 0;
    color: red;
  }
.programmout {
  position: relative;
  display: flex;
  /*visibility: hidden;*/
  bottom: 2rem;
  left: 0rem;
  width: 80%;
  height: auto;
  font-size: 2vw;
  background-color: rgba(221,184,135,1.0);
  border-radius: 20pt 20pt 20pt 20pt;
  border-style: solid;
  border-color: #613823;
  -webkit-transform: translateX(-100%);
  transition: all .5s;
}
.programmin {
  position: relative;
  display: flex;
  /*visibility: hidden;*/
  bottom: 2rem;
  left: 0rem;
  width: 90%;
  height: auto;
  padding-left:1vw;
  font-size: 1.5vw;
  background-color: rgba(221,184,135,1.0);
  border-radius: 20pt 20pt 20pt 20pt;
  border-style: solid;
  border-color: #613823;
  -webkit-transform: translateX(1rem);
  transition: all .5s;
}

.programmtabelle {
    transition-property: opacity;
    transition-duration: 2s;
}

table.programmtabelle {
  width: 90%;
}
.programmtabelle td {
color: black;
font-size: 1rem;
vertical-align: top;
padding-right: 1rem;
}

.speisenout {
  position: fixed;
  display: flex;
  visibility: hidden;
  top: 1rem;
  right: 0rem;
  width: 70%;
  height: auto;
  /*max-height: 100%;*/
  font-size: 1rem;
  background-color: rgba(221,184,135,1.0);
  border-radius: 20pt 20pt 20pt 20pt;
  border-style: solid;
  border-color: #613823;
  -webkit-transform: translateX(100%);
  transition: all .5s;
}
.speisenin {
  position: absolute;
  display: flex;
  /*visibility: hidden;*/
  top: 1rem;
  right: 1rem;
  width: 80%;
  height: auto;
  max-height: auto;
  padding-left:1vw;
  font-size: .5rem;
  background-color: rgba(221,184,135,1.0);
  border-radius: 20pt 20pt 20pt 20pt;
  border-style: solid;
  border-color: #613823;
  -webkit-transform: translateX(0);
  transition: all .5s;
}
}

/*  */
/* Ende Hochformat */
/*  */
/* Smartphones Querformat: */
/*  */


@media screen and (min-width: 600px) {

    h6 {
    font-size: 1.5rem;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    color: black;
    font-weight: normal;
  }

  h5 {
    font-size: 2rem;
    margin: 10 10 0 0;

    padding: 0 0 0 0;
    color: red;
  }

.programmout {
  position: fixed;
  display: flex;
  /*visibility: hidden;*/
  top: 2rem;
  right: 0rem;
  width: 50%;
  height: auto;
  max-height: 100%;
  font-size: 2vw;
  background-color: rgba(221,184,135,1.0);
  border-radius: 20pt 20pt 20pt 20pt;
  border-style: solid;
  border-color: #613823;
  -webkit-transform: translateX(100%);
  transition: all .5s;
}
.programmin {
  position: fixed;
  display: flex;
  /*visibility: hidden;*/
  top: 2rem;
  right: 1rem;
  width: 50%;
  height: auto;
  max-height: 90%;
  padding-left:1vw;
  font-size: 2vw;
  background-color: rgba(221,184,135,1.0);
  border-radius: 20pt 20pt 20pt 20pt;
  border-style: solid;
  border-color: #613823;
  -webkit-transform: translateX(0);
  transition: all .5s;
}


table.programmtabelle {
  position: relative;
  padding: 1rem;
  width: 90%;

  overflow: auto;
}
.programmtabelle td {
color: black;
font-size: 1rem;
vertical-align: top;
padding-right: 1rem;
}

.speisenout {
  position: fixed;
  display: flex;
  visibility: hidden;
  top: 2rem;
  right: 0rem;
  width: 70%;
  height: auto;
  /*max-height: 100%;*/
  font-size: 1rem;
  background-color: rgba(221,184,135,1.0);
  border-radius: 20pt 20pt 20pt 20pt;
  border-style: solid;
  border-color: #613823;
  -webkit-transform: translateX(100%);
  transition: all .5s;
}
.speisenin {
  position: fixed;
  display: flex;
  /*visibility: hidden;*/
  top: 2rem;
  right: 1rem;
  width: 50%;
  height: auto;
  max-height: 90%;
  padding-left:1vw;
  font-size: 1rem;
  background-color: rgba(221,184,135,1.0);
  border-radius: 20pt 20pt 20pt 20pt;
  border-style: solid;
  border-color: #613823;
  -webkit-transform: translateX(0);
  transition: all .5s;
}
}
/* Ende Querformat */

/* Klasse für den Tag-Wähler in der Programmbox:  */
.sasomo {
  color: white;
  background: red;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: .5rem;
  padding-right: .5rem;
  border-style: solid;
  border-color: red;
  border-radius: 1vw;
  -webkit-transform: scale(1.2);
  transition: all .5s;
}
.sasomo-inaktiv {
  color: grey;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: .5rem;
  padding-right: .5rem;
  border-style: solid;
  border-color: grey;
  border-radius: 1vw;
  -webkit-transform: scale(1.);
  transition: all .5s;
}

/* Ende Klasse für den Tag-Wähler in der Programmbox */

/* Klasse für das Speiseangebot: */
.angebotInhaltcls {
  color: black;
  font-size: 1rem;
  font-weight: normal;
}
/* Ende Klasse für das Speiseangebot: */

.testboxout {
  position: fixed;
  display: flex;
  /*visibility: hidden;*/
  top: 2rem;
  right: 0rem;
  width: 20rem;
  height: 0;
  background: yellow;
  -webkit-transform: translateX(19rem);
  transition: all 1s;
}
.testboxin {
    position: fixed;
  display: flex;
  /*visibility: hidden;*/
  top: 2rem;
  right: 0rem;
  width: 20rem;
  height: 40rem;
  background: yellow;
  -webkit-transform: translateX(0rem);
  transition: all 1s;
}
